.html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Светло-синий фон */
}
/* Общие стили для контейнера */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  background-color: #e0f7fa; /* Светло-синий фон */
  min-height: 100vh;
}

/* Заголовок */
.header {
  font-size: 24px;
  color: #01579b; /* Темно-синий цвет */
  margin-bottom: 20px;
}

/* Блок с информацией */
.info-box {
  width: 80%;
  padding: 20px;
  border: 2px solid #0288d1; /* Синий цвет */
  margin-bottom: 20px;
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
}

/* Область для загрузки файла */
.upload-box {
  width: 80%;
  height: 150px;
  border: 2px dashed #0288d1; /* Синий цвет */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
}

.file-input {
  font-size: 16px;
  cursor: pointer;
  color: #01579b; /* Темно-синий цвет */
}

/* Кнопка Анализировать */
.button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0288d1; /* Синий цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #0277bd; /* Темно-синий цвет при наведении */
}

/* Контейнер для списка чекбоксов */
.checkbox-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
}

/* Индивидуальные элементы чекбокса */
.checkbox-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #01579b; /* Темно-синий цвет */
}

.checkbox-item input {
  margin-right: 10px;
}

/* Футер */
.footer {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #0288d1; /* Синий цвет */
  text-align: center;
  border-top: 1px solid #0277bd; /* Темно-синий цвет */
  color: white;
}