.html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
}
/* Общие стили для контейнера */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  background-color: #e0f7fa; /* Светло-синий фон */
  min-height: 100vh;
}

/* Заголовок */
.header {
  font-size: 24px;
  color: #01579b; /* Темно-синий цвет */
  margin-bottom: 20px;
}

.content {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  justify-content: center; /* Центрирование контента */
}

/* Блок с информацией */
.info-box {
  width: 80%;
  padding: 20px;
  border: 2px solid #0288d1; /* Синий цвет */
  margin-bottom: 20px;
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
}

/* Область для загрузки файла */
.upload-box {
  width: 80%;
  height: 200px; /* Увеличенная высота */
  padding: 20px;
  border: 2px dashed #0288d1; /* Синий цвет */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #ffffff; /* Белый фон */
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

.file-input {
  font-size: 18px; /* Увеличенный размер шрифта */
  cursor: pointer;
  color: #01579b; /* Темно-синий цвет */
}

/* Кнопка Анализировать */
.button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #0288d1; /* Синий цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #0277bd; /* Темно-синий цвет при наведении */
}

.checkbox-container {
  display: flex;
  flex-direction: column; /* Расположение элементов друг под другом */
  align-items: flex-start; /* Выровнять элементы по левому краю */
  padding: 20px;
  border: 2px solid #0288d1; /* Синий цвет */
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #01579b; /* Темно-синий цвет */
  margin-bottom: 10px;
}

.checkbox-item input {
  margin-right: 10px;
}


.chart-container {
  flex: 1; /* Занимает оставшееся пространство */
  padding: 20px;
  max-height: 700px;
  border: 2px solid #0288d1; /* Синий цвет */
  background-color: #ffffff; /* Белый фон */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01579b; /* Темно-синий цвет */
}
.response-box {
  width: 80%;
  padding: 20px;
  border: 2px solid #0288d1; /* Синий цвет */
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
  margin-bottom: 20px;
}

.radio-container {
  flex: 0 0 20%; /* Занимает 20% ширины контейнера */
  padding: 20px;
  border: 2px solid #0288d1; /* Синий цвет */
  background-color: #b3e5fc; /* Светло-синий фон */
  border-radius: 5px;
  margin-right: 20px;
}


.radio-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #01579b; /* Темно-синий цвет */
  margin-bottom: 10px;
}

.radio-item input {
  margin-right: 10px;
}

/* Футер */
.footer {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #0288d1; /* Синий цвет */
  text-align: center;
  border-top: 1px solid #0277bd; /* Темно-синий цвет */
  color: white;
}
.json-container {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  overflow: auto;
  max-height: 400px;
}

.json-pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333;
}